.HomePage {
    height: 80vh;
}

.HomePage__ProjectsContainer {
    display: flex;
    margin: 0% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.HomePage__ProjectTitle {
    font-size: 36px; 
}

.HomePage__Project {
    position: relative;
    background: none;
    height: 250px;
    min-width: 400px;
    max-width: 500px;
    margin: 20px;
    box-shadow: 0 0 0 1000px inset #0000005f, 0 0 45px 0 inset black;
    background-size: 100% 100%;    
    box-sizing: border-box;
    border: 5px ridge #686060;
    cursor: pointer;
}

.HomePage__Project:hover {transform: scale(1.1);}

.HomePage__ProjectName {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 24px;    
    background-color: transparent;
}

.HomePage__Popup {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 95%;
    margin: 20px;
    border: 10px ridge #686060;;
    background-color: #0F1B32;
}

.HomePage__DescriptionTitle {
    margin: 20px;
    font-size: 24px;
    background-color: transparent;
}

.HomePage__Description {
    background-color: transparent;
    margin: 10px;
}

.HomePage__Link {
    background-color: transparent;
    font-weight: bold;
}
.HomePage__Link:visited {color:#5252ff; text-decoration: none;}
.HomePage__Link:hover {text-decoration: underline;}