.photography_content {
    display: grid;
    grid-template-areas: 'leftCol photo rightCol';
    grid-template-columns: 25% auto 25%;
    max-height: 80vh;
    overflow: hidden;
}

.photography_leftCol {
    grid-area: leftCol;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32393F;

}

.photography_rightCol {
    grid-area: rightCol;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32393F;

}

.photography_photo_area {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #32393F;
}

.photography_left_button {
    border: solid #071117;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    background-color: #32393F;
    cursor: pointer;
}

.photography_left_button_border:hover {
    border-width: thin;
    border: solid #E9E9DF;
    padding: 8px 5px 10px 15px;
    border-radius: 50px;
}

.photography_right_button {
    border: solid #071117;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    background-color: #32393F;
    cursor: pointer;
}

.photography_right_button_border:hover {
    border-width: 1px;
    border: solid #E9E9DF;
    padding: 8px 15px 10px 5px;
    border-radius: 50px;
}

.load {
    background-color: black;
    transition-duration: 10;
}
