* {
    margin: 0;
    font-weight: 400;
        font-family: 'Montserrat';

}

.projects_section {
    background-color: #32393F;
    height: 240px;
    color: #E9E9DF;
    display: grid;
    grid-template-areas: 'title name'
                         'title description';
    grid-template-columns: 35% auto 35%;
}

.projects_section .section_title {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
}

.projects_section .contents {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.projects_section .project_title {
    grid-area: name;
    font-size: 20px;
    margin-top: 30px;
}

.projects_section li{
    grid-area: description;
    font-size: 18px;
    max-width: 750px;
}