* {
    margin: 0;
    font-weight: 400;
    font-family: 'Montserrat';
}

.skills {
    background-color: #434C53;
    height: 100px;
    color: #E9E9DF;
    display: grid;
    grid-template-areas: 'title content'
                         'title content';
    grid-template-columns: 35% auto 35%;
}

.skills_title {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
}

.skills_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-area: content;
}

.skills_examples {
    font-size: 15px;
    white-space: pre;
}

.skills_descriptor {
    font-size: 18px;
}