.blog_content {
    display: flex;
    flex-direction: column;
    background-color: #434C53;
    color: #E9E9DF;
    align-items: center;
    justify-content: center;

}

.blog_container {
    margin: 30px 0;
    width: 25vw;
    height: 10vh;
    border: solid #071117;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog_title {
    font-weight: 600;
    font-size: 10px;
}

.blog_date {
    font-size: 10px;
}