.about_me {
    background-color: #32393F;
    height: 160px;
    color: #E9E9DF;
    display: grid;
    grid-template-areas: 'title content'
                         'title content';
    grid-template-columns: 35% auto 35%;
    
}

.about_me_title {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: title;
}

.about_me_contents {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-area: content;
    width: auto;
}

.about_me_name {
    font-size: 23px;
    text-decoration-line: underline;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about_me_description {
    font-size: 15px;
    max-width: 750px;
}