.home_page {
    background-color: #071117;
    color: white;
    height: 80vh;
}

.home_page_projects_container {
    display: flex;
    margin: 0% 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.home_page_project_title {
    text-align: center;
    font-size: 36px; 
}

.home_page_project {
    position: relative;
    background: none;
    height: 250px;
    min-width: 400px;
    max-width: 500px;
    margin: 20px;
    box-shadow: 0 0 0 1000px inset #0000005f, 0 0 45px 0 inset black;
    background-size: 100% 100%;    
    box-sizing: border-box;
    text-align: center;
    border: ridge;
    border-width: 5px;
    border-color: #686060;
}

.home_page_project:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.home_page_project_name {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.home_page_popup {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 95%;
    margin: 20px;
    border: ridge;
    background-color: #0b1a23;
    text-align: center;
}

.home_page_description_title {
    margin: 20px;
    font-size: 24px;
}

.home_page_link:link {text-decoration: none;}
.home_page_link:visited {color:#5252ff; text-decoration: none;}
.home_page_link:hover {text-decoration: underline;}