.bot_nav_bar {
    background-color: #071117;
    color: #CCD5CB;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 10vh;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.bot_nav_bar_left_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    align-items: center;
}
    
.bot_nav_bar_right_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    align-items: center;
}

.bot_nav_bar_resume_download {
    background: #071117;
    border: 2px solid #343434;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.bot_nav_bar_download_text {
    font-size: 14px;
    color: #CCD5CB;
}

.bot_nav_bar a {
    text-decoration: none;
}

.bot_nav_bar_update_text {
    font-size: 9px;
    color: #8C8C8C;
}

.bot_nav_bar_email {
    background: #071117;
    border: 2px solid #343434;
    padding: 10px;
    font-size: 12px;
}

.bot_nav_bar_phone {
    background: #071117;
    border: 2px solid #343434;
    padding: 10px;
    font-size: 12px;
}

.bot_nav_bar_linkedin {
    padding: 10px;
    background: #0F1B32;
    border: 2px solid #343434;
    color: #CCD5CB;
    cursor: pointer;

}

.bot_nav_bar_twitter {
    padding: 10px;
    background: #0F1B32;
    border: 2px solid #343434;
    color: #CCD5CB;
    cursor: pointer;
}

.bot_nav_bar_github {
    padding: 10px;
    background: #0F1B32;
    border: 2px solid #343434;
    color: #CCD5CB;
    cursor: pointer;
}