.top_nav_bar {
    background-color: #071117;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    font-size: 11px;
    font-weight: 400;
}

.top_nav_bar_signature {
    image-rendering: crisp-edges;
    width: 150px;
    height: 60px;
}

.top_nav_bar_home {
    text-decoration: none;
    padding: 10px;
    background: #0F1B32;
    border: 2px solid #343434;
    cursor: pointer;
}

.top_nav_bar_photography {
    text-decoration: none;
    padding: 10px;
    background: #0F1B32;
    border: 2px solid #343434;
    cursor: pointer;
}