* {
    margin: 0px;
}

.top_nav_bar{
    background-color: #071117;
    color: #CCD5CB;
    display: flex;
    align-items: center;
    height: 50px;

}

.top_nav_bar .home {
    margin-left: 110px;
    font-size: 15px;
    font-weight: 400;
}

.top_nav_bar .photography {
    margin-left: auto;
    font-size: 15px;
    font-weight: 400;
}

.top_nav_bar .blog {
    margin-right: 110px;
    margin-left: 20px;
    font-size: 15px;    
    font-weight: 400;
}